{% extends "basic.html" %}
{% block title %}Upload File{% endblock %}
{% block main %}
<h1>Paper Detail</h1>
{% if title %}
    <h1>Title: </h1>
    <h2>{{ title }}</h2>
    </br>
    <h2>Abstract: </h3>
    <h3>{{ abstract }}</h3>
    </br>
    {% if session.key %}
    <form action="" method="POST">
        <input type="submit" name="download" value="Download"/>
    </form>
    {% else %}
    <h3>YOU NEED TO LOGIN
    </br><a href="{{ url_for('student_paper_storage.Login') }}">login</a></h3>
    {% endif %}
{% else %}
    <h2>File Not Found</h2>
{% endif %}

{% endblock %} 